.privateWrap {
  display: flex;
  justify-content: space-between;

  :global {
    .ant-switch-checked {
      background: #27ae60;
    }
  }
}

.createBtn {
  display: inline-block;
  border-radius: 24px;
  padding: 8px 38px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.isPrivate {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.channelFormModal {
  :global {
    .ant-modal-close-x {
      height: 54px;
      width: 38px;
    }
    .ant-form-item-control-input{
      line-height: 20px;
      min-height: 20px;
    }
    .ant-input-affix-wrapper{
      line-height: 20px;
      input{
        line-height: 20px;
      }
    }

    .ant-modal-body {
      padding: 32px 14px 0;
    }

    .ant-modal-footer {
      padding: 24px;
    }
    .ant-col.ant-form-item-control{
      padding: 18px 16px;
    }
    textarea.ant-input{
      line-height: 20px;
    }

  }
}