.privateWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -16px;
  padding: 18px 16px;
  height: 57px;
  width: 516px;
  background: #333;
  border-radius: 16px;
  .tips{
    position: absolute;
    right: 12px;
    top: 67px;
    font-family: 'PingFang SC';
    font-size: 12px;
    line-height: 20px;
    color: #747577;
    opacity: 0.74;
  }
}

.createBtn {
  display: inline-block;
  border-radius: 24px;
  padding: 8px 38px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.isPrivate {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.channelFormModal {
  :global {
    .ant-modal-close-x {
      height: 54px;
      width: 38px;
    }

    .ant-form-item-control-input {
      line-height: 20px;
      min-height: 20px;
    }

    .ant-input-affix-wrapper {
      line-height: 20px;

      input {
        line-height: 20px;
      }
    }

    .ant-modal-body {
      padding: 32px 14px 0;
    }

    .ant-modal-footer {
      padding: 24px;
    }

    .ant-col.ant-form-item-control {
      padding: 18px 16px;
    }

    textarea.ant-input {
      line-height: 20px;
    }

  }
}

.radioItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 514px;
  height: 56px;
  background: #333;
  border-radius: 16px;
  padding: 10px;
  margin-left: -16px;
  margin-bottom: 12px;
  line-height: 56px;
  cursor: pointer;
  .label{
    display: flex;
    align-items: center;
  }

  .iconStyle {
    display: inline-flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }

  .radioLabel {
    margin-left: 14px;
    font-family: 'Noto Sans SC';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  .radioInput{
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}